

  <header class="p-4 mb-4 bg-light rounded-3">
    <h1>Bienvenue sur Zenika Ecommerce</h1>
    <p >Votre panier s'élève à {{ total() | currency }} </p>
    <p class="mb-0"><a class="btn btn-primary btn-large" routerLink="/basket">Voir mon panier</a></p>
  </header>

  <h2 class="h4">Catalogue</h2>

  @if (productsInStock().length) {
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      @for (product of productsInStock() | sortproductspipe : 'price'; track product.id) {
        <app-productcard class="col" [product]="product" (addToBasket)="addToBasket($event)" />
      }
    </div>
  } @else {
    <p class="fst-italic text-secondary">Désolé, notre stock est vide !</p>
  }

